[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
[include]
	path = ~/.gitconfig-local
[user]
	name = Tarek Kekhia
	email = tarek.kekhia@emeraldlake.io
